Repository hmcts/azure-private-dns, pull requests merged in 2022-10, with the labels that each got.

#452 VIH-9999 - Add CNAME for SignalR Private DNS
  environments/dev/dev-platform-hmcts-net.yml
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
  environments/test/test-platform-hmcts-net.yml
Labels: sbox-sandbox/add-or-update, ithc-ithc/add-or-update, demo-demo/no-changes, privatelink-privatelink/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/add-or-update, dev-dev/add-or-update

#453 Added cloudgobgateway alias to test, prod and stg private zones.
  environments/prod/platform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
  environments/test/test-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, prod-prod/add-or-update, test-test/add-or-update

#454 Add Oauth records for traefik2 in demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, demo-demo/add-or-update

#455 DTSPO 9669 added addresses for palo sbox
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: sbox-sandbox/add-or-update, demo-demo/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes

#458 Add cftithc VNET Link for test.platform.hmcts.net
  environments/test/test-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, test-test/add-or-update

#459 Update perftest-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, test-test/add-or-update

#461 DTSPO-4684 AAT:: app-gw update
  environments/staging/aat-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#462 DTSPO-4685 prod :: point to new Appgw
  environments/prod/platform-hmcts-net.yml
Labels: do not merge, sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#465 Added privatelink.file.core.windows.net Private DNS zone.
  components/privatelink/file-private-link.tf
  environments/privatelink/file-private-link.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#467 VIH-9385 - amend wowza private DNS
  environments/demo/demo-platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, prod-prod/add-or-update, demo-demo/destroy

#470 Update civil citizen ui to access in vpn
  environments/staging/aat-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes
