Repository hmcts/azure-private-dns, pull requests merged in 2022-09, with the labels that each got.

#442 fix civil staging urls
  environments/staging/aat-platform-hmcts-net.yml
Labels: sbox-uksouth-sandbox/no-changes, dev-uksouth-dev/no-changes, test-uksouth-test/no-changes, demo-uksouth-demo/no-changes, ithc-uksouth-ithc/no-changes, privatelink-uksouth-privatelink/no-changes, prod-uksouth-prod/no-changes, staging-uksouth-staging/destroy

#443 Add hmi vnet links and A record
  environments/ithc/ithc-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, ithc-ithc/add-or-update, demo-demo/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes

#448 Prod switchover - camunda, docmosis, ccd admin
  environments/prod/platform-hmcts-net.yml
Labels: do not merge, sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update

#449 Add flex postgres to CFT vNETs
  environments/privatelink/postgres.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update
