Repository hmcts/azure-private-dns, pull requests merged in 2022-11, with the labels that each got.

#471 VIH-9999-remove-service-web
  environments/prod/platform-hmcts-net.yml
  environments/sandbox/sbox-platform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
Labels: demo-demo/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, test-test/no-changes, ithc-ithc/no-changes, staging-staging/destroy, sbox-sandbox/destroy, prod-prod/destroy

#476 VIH-9478 - amend DNS
  environments/dev/dev-platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
  environments/test/test-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, privatelink-privatelink/no-changes, ithc-ithc/no-changes, test-test/add-or-update, dev-dev/add-or-update, demo-demo/add-or-update, staging-staging/destroy, prod-prod/destroy

#477 DTSPO-11238 - Added private VNet links for NINT and PINT VNets
  environments/privatelink/postgres-private-link.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#480 feat: added hmcts.justice.gov.uk DNS zones
  components/demo/demo-hmcts-justice-gov-uk.tf
  components/dev/dev-hmcts-justice-gov-uk.tf
  components/ithc/ithc-hmcts-justice-gov-uk.tf
  components/prod/hmcts-justice-gov-uk.tf
  components/sandbox/sandbox-hmcts-justice-gov-uk.tf
  components/staging/staging-hmcts-justice-gov-uk.tf
  components/test/test-hmcts-justice-gov-uk.tf
  environments/demo/demo-hmcts-justice-gov-uk.yml
  environments/dev/dev-hmcts-justice-gov-uk.yml
  environments/ithc/ithc-hmcts-justice-gov-uk.yml
  environments/prod/hmcts-justice-gov-uk.yml
  environments/sandbox/sandbox-hmcts-justice-gov-uk.yml
  environments/staging/staging-hmcts-justice-gov-uk.yml
  environments/test/test-hmcts-justice-gov-uk.yml
Labels: sbox-sandbox/add-or-update, ithc-ithc/add-or-update, privatelink-privatelink/no-changes, staging-staging/add-or-update, prod-prod/add-or-update, test-test/add-or-update, dev-dev/add-or-update, demo-demo/add-or-update
