Repository hmcts/azure-private-dns, pull requests merged in 2023-04, with the labels that each got.

#552 Add new VPN DNS link
  environments/demo/demo-platform-hmcts-net.yml
  environments/demo/service-core-compute-demo-internal.yml
  environments/demo/service-core-compute-idam-demo-internal.yml
  environments/dev/dev-platform-hmcts-net.yml
  environments/dev/dom1-infra-int.yml
  environments/dev/preview-platform-hmcts-net.yml
  environments/dev/service-core-compute-idam-preview-internal.yml
  environments/dev/service-core-compute-preview-internal.yml
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/ithc/service-core-compute-idam-ithc-internal.yml
  environments/ithc/service-core-compute-ithc-internal.yml
  environments/privatelink/blob-private-link.yml
  environments/privatelink/database-private-link.yml
  environments/privatelink/dfs-private-link.yml
  environments/privatelink/postgres-private-link.yml
  environments/privatelink/postgres.yml
  environments/privatelink/redis-private-link.yml
  environments/privatelink/servicebus-private-link.yml
  environments/privatelink/synapse-dev-private-link.yml
  environments/privatelink/synapse-sql-private-link.yml
  environments/prod/hearings-reform-hmcts-net.yml
  environments/prod/mailrelay-internal-platform-hmcts-net.yml
  environments/prod/mailrelay-platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/prod-platform-hmcts-net.yml
  environments/prod/reform-hmcts-net.yml
  environments/prod/service-core-compute-idam-prod-internal.yml
  environments/prod/service-core-compute-idam-prod2-internal.yml
  environments/prod/service-core-compute-prod-internal.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
  environments/sandbox/sbox-platform-hmcts-net.yml
  environments/sandbox/service-core-compute-idam-saat-internal.yml
  environments/sandbox/service-core-compute-idam-sandbox-internal.yml
  environments/sandbox/service-core-compute-sandbox-internal.yml
  environments/staging/aat-platform-hmcts-net.yml
  environments/staging/service-core-compute-aat-internal.yml
  environments/staging/service-core-compute-idam-aat-internal.yml
  environments/staging/service-core-compute-idam-aat2-internal.yml
  environments/staging/staging-hearings-reform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
  environments/test/service-core-compute-idam-perftest-internal.yml
  environments/test/service-core-compute-perftest-internal.yml
  environments/test/test-platform-hmcts-net.yml
Labels: sbox-sandbox/add-or-update, ithc-ithc/add-or-update, staging-staging/add-or-update, prod-prod/add-or-update, privatelink-privatelink/add-or-update, test-test/add-or-update, dev-dev/add-or-update, demo-demo/add-or-update

#551 add cft neuvector platform.hmcts.net entries
  environments/staging/aat-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, staging-staging/destroy

#555 Add portal-beta to private DNS
  environments/prod/platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#556 DTSPO-2473 Add elastic cloud uksouth
  components/privatelink/elastic-cloud-uksouth.tf
  environments/privatelink/elastic-cloud-uksouth.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#557 CFT ITHC - C Name internal DNS entries to new cluster LB record, change Neuvector domain
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/ithc/service-core-compute-ithc-internal.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, privatelink-privatelink/add-or-update, ithc-ithc/destroy

#558 Added SecOps DLRM SDAE DNS records.
  environments/prod/prod-internal-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#560 CFT Perftest - Fix Neuvector CNAME entries
  environments/test/perftest-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, test-test/add-or-update

#562 Adds record for loki on ptl
  environments/prod/platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#564 Rename loki record
  environments/prod/platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, prod-prod/destroy

#561 CFT Prod - C Name internal DNS entries to new cluster LB record, change Neuvector domain
  environments/prod/platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, prod-prod/destroy

#565 added prod.internal records and vnet link
  environments/prod/prod-internal-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#566 Updated SDAE prod internal records.
  environments/prod/prod-internal-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, prod-prod/destroy

#568 Update vault-private-link.yml
  environments/privatelink/vault-private-link.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#569 feat: added MARTHA A records
  environments/prod/prod-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update
