Repository hmcts/azure-private-dns, pull requests merged in 2023-03, with the labels that each got.

#509 Update sandbox-platform-hmcts-net.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: sbox-sandbox/add-or-update, ithc-ithc/add-or-update, staging-staging/add-or-update, prod-prod/add-or-update, privatelink-privatelink/add-or-update, test-test/add-or-update, dev-dev/add-or-update, demo-demo/add-or-update

#513 Update platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: sbox-sandbox/add-or-update, ithc-ithc/add-or-update, staging-staging/add-or-update, prod-prod/add-or-update, privatelink-privatelink/add-or-update, test-test/add-or-update, dev-dev/add-or-update, demo-demo/add-or-update

#512 Update VPN private ip
  environments/demo/demo-platform-hmcts-net.yml
  environments/demo/service-core-compute-demo-internal.yml
  environments/demo/service-core-compute-idam-demo-internal.yml
  environments/dev/dev-platform-hmcts-net.yml
  environments/dev/dom1-infra-int.yml
  environments/dev/preview-platform-hmcts-net.yml
  environments/dev/service-core-compute-idam-preview-internal.yml
  environments/dev/service-core-compute-preview-internal.yml
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/ithc/service-core-compute-idam-ithc-internal.yml
  environments/ithc/service-core-compute-ithc-internal.yml
  environments/privatelink/blob-private-link.yml
  environments/privatelink/database-private-link.yml
  environments/privatelink/dfs-private-link.yml
  environments/privatelink/postgres-private-link.yml
  environments/privatelink/postgres.yml
  environments/privatelink/redis-private-link.yml
  environments/privatelink/synapse-dev-private-link.yml
  environments/privatelink/synapse-sql-private-link.yml
  environments/prod/mailrelay-internal-platform-hmcts-net.yml
  environments/prod/mailrelay-platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/prod-platform-hmcts-net.yml
  environments/prod/reform-hmcts-net.yml
  environments/prod/service-core-compute-idam-prod-internal.yml
  environments/prod/service-core-compute-idam-prod2-internal.yml
  environments/prod/service-core-compute-prod-internal.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
  environments/sandbox/sbox-platform-hmcts-net.yml
  environments/sandbox/service-core-compute-idam-saat-internal.yml
  environments/sandbox/service-core-compute-idam-sandbox-internal.yml
  environments/sandbox/service-core-compute-sandbox-internal.yml
  environments/staging/aat-platform-hmcts-net.yml
  environments/staging/service-core-compute-aat-internal.yml
  environments/staging/service-core-compute-idam-aat-internal.yml
  environments/staging/service-core-compute-idam-aat2-internal.yml
  environments/staging/staging-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
  environments/test/service-core-compute-idam-perftest-internal.yml
  environments/test/service-core-compute-perftest-internal.yml
  environments/test/test-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#514 clean-up-hackaton-lab
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, demo-demo/add-or-update, sbox-sandbox/destroy

#515 Add docmosis private record to appgw
  environments/demo/demo-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, demo-demo/destroy

#517 VIH-9778 - add wowza ithc dns
  environments/ithc/ithc-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, ithc-ithc/add-or-update, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, privatelink-privatelink/add-or-update

#518 VIH-0000 - Add Admin and Video Web Demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, demo-demo/add-or-update

#522 Removing DNS entry for ukw palo VM1 in nonprod and prod
  environments/prod/platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, prod-prod/destroy

#526 Add Kubecost to AAT 00
  environments/staging/aat-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#527 add em-icp.aat.platform.hmcts.net to CNAME aat Frontdoor
  environments/staging/aat-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#530 HMIS-1142 - Add HMI Demo environment
  environments/demo/demo-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, demo-demo/add-or-update

#532 DTSPO-11734 - renovate - enable automerge
  renovate.json
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#533 DTSPO-11734 - renovate - set schedule
  .github/renovate.json
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#528 plum and dtsse-ardoq-adapter AAT CNAME aat Frontdoor
  environments/staging/aat-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#537 Add records for migrated apps in private zone
  environments/demo/demo-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, demo-demo/add-or-update

#539 Add private-dns records for migrated apps
  environments/demo/demo-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, demo-demo/add-or-update

#541 Add DNS records for .platform url to private apps
  environments/demo/demo-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, demo-demo/add-or-update

#542 Add apps that have been migrated
  environments/demo/demo-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, demo-demo/add-or-update

#543 Add private entries
  environments/demo/demo-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, demo-demo/add-or-update

#544 Add judicial payments AAT
  environments/staging/aat-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#546 DTSPO-11734 - renovate - use global presets
  .github/renovate.json
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, chore

#549 Correct ccd-admin-web
  environments/demo/demo-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, demo-demo/destroy
