Repository hmcts/azure-private-dns, pull requests merged in 2023-05, with the labels that each got.

#571 Adds dns records for prometheus and alertmanager
  environments/test/test-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, test-test/add-or-update

#572 Add wa workflow camunda
  environments/staging/aat-platform-hmcts-net.yml
  environments/staging/service-core-compute-aat-internal.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#573 Adds DNS records for stg, ithc and test prometheus
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, ithc-ithc/add-or-update, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, privatelink-privatelink/add-or-update

#574 Add-jbox-to-dns
  environments/prod/prod-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#576 Dtspo 13629 jbox dns platform zone
  environments/prod/platform-hmcts-net.yml
  environments/prod/prod-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, staging-staging/destroy, prod-prod/destroy

#579 Add AMS Private DNS Zone
  components/privatelink/azuremediaservices-private-link.tf
  environments/privatelink/azuremediaservices-private-link.yml
Labels: sbox-sandbox/no-changes, ithc-ithc/add-or-update, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, privatelink-privatelink/add-or-update, demo-demo/add-or-update
