Repository hmcts/azure-private-dns, pull requests merged in 2023-11, with the labels that each got.

#691 Add netbox PTL private DNS
  environments/prod/hmcts-net.yml
Labels: staging/add-or-update, privatelink/add-or-update, sandbox/add-or-update, prod/add-or-update, demo/add-or-update, ithc/add-or-update, test/add-or-update, dev/add-or-update

#692 remove dead vnets
  environments/demo/demo-platform-hmcts-net.yml
  environments/demo/service-core-compute-demo-internal.yml
  environments/demo/service-core-compute-idam-demo-internal.yml
  environments/privatelink/mysql-private-link.yml
  environments/privatelink/postgres-private-link.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/prod-platform-hmcts-net.yml
  environments/prod/service-core-compute-idam-prod-internal.yml
  environments/prod/service-core-compute-prod-internal.yml
  environments/test/perftest-platform-hmcts-net.yml
  environments/test/service-core-compute-idam-perftest-internal.yml
  environments/test/service-core-compute-perftest-internal.yml
Labels: staging/add-or-update, privatelink/add-or-update, sandbox/add-or-update, prod/add-or-update, demo/add-or-update, ithc/add-or-update, test/add-or-update, dev/add-or-update

#693 updated FD endpoints
  environments/prod/hearings-reform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: staging/add-or-update, privatelink/add-or-update, sandbox/add-or-update, prod/add-or-update, demo/add-or-update, ithc/add-or-update, test/add-or-update, dev/add-or-update

#689 PUB-2117 - Updated private DNS for PIP
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes, demo/add-or-update, test/add-or-update

#695 DTSPO-15525: Add DNS for central neuvector
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#696 Update staging-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#665 re-add CNAMES for VH
  environments/dev/dev-platform-hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes, dev/add-or-update

#698 DTSPO-14559 - plum-frontend-staging
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#699 DTSPO-14559 - toffee-frontend-staging
  environments/staging/staging-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#702 Add hub service links for purview
  environments/privatelink/purview-portal-private-link.yml
  environments/privatelink/purview-private-link.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, privatelink/add-or-update, staging/no-changes
