Repository hmcts/azure-private-dns, pull requests merged in 2023-08, with the labels that each got.

#616 Add private DNS entry for dtsse-ardoq-adapter in prod
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#617 DTSPO-13563 - Add toffee private dns for demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes, demo/add-or-update

#618 DTSPO-13563 - Add private dns for toffee prod
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#619 Add private dns entry for sbox jenkins
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#620 Add n/w link to vpn and jira dns records
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#621 Remove autoregister
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#622 Add old vpn vnet to hmcts.net
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#623 Add sandbox static build dns for app proxy
  environments/prod/hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/destroy

#624 Adding CUI
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, prod/no-changes, staging/no-changes, ithc/add-or-update, test/add-or-update

#625 PUB-1763 - Add pip frontend to private dns for Demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes, demo/add-or-update

#626 DTSPO-14920 - Add dns private entry
  environments/prod/prod-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/add-or-update, dev/add-or-update

#627 remove c name entry
  environments/dev/dev-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes

#628 Re add CNAME to dev-platform-hmcts-net.yml
  environments/dev/dev-platform-hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes, dev/destroy

#630 DTSPO- Fix IP address for onboarding server
  environments/prod/prod-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/add-or-update, dev/add-or-update

#631 S28-1723 Add Azure Backup Service private DNS zone
  components/privatelink/azure-backup-private-link.tf
  environments/privatelink/azure-backup-private-link.yml
Labels: sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, privatelink/add-or-update, staging/no-changes, dev/add-or-update

#632 Add-IH-onprem-servers
  environments/staging/staging-internal-hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, dev/add-or-update

#633 DLRM-IH-DNS
  environments/prod/platform-hmcts-net.yml
  environments/prod/prod-platform-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/add-or-update, dev/add-or-update

#634 Remove-duplicate-CNAMES
  environments/dev/dev-platform-hmcts-net.yml
  environments/prod/prod-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#635 Add records for idam-user-profile-bridge in AAT, ITHC, Perftest
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/staging/aat-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, prod/no-changes, ithc/add-or-update, test/add-or-update

#636 Update aat-platform-hmcts-net.yml
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/destroy
