Repository hmcts/azure-private-dns, pull requests merged in 2023-12, with the labels that each got.

#705 DTSPO-14876 adding grafana for aat
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#706 ST - adding ST frontend entry for Perftest
  environments/test/perftest-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes, test/add-or-update

#708 remove nessus dns record
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes

#710 feat: added ptl and ptlsbox links to purview private dns zones
  environments/privatelink/purview-portal-private-link.yml
  environments/privatelink/purview-private-link.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, privatelink/add-or-update, staging/no-changes
