Repository hmcts/azure-private-dns, pull requests merged in 2023-06, with the labels that each got.

#580 Updating renovate config
  .github/renovate.json
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#582 added nle int and ext private dns zones
  components/staging/nle-ext.tf
  components/staging/nle-int.tf
  environments/staging/nle-ext-platform-hmcts-net.yml
  environments/staging/nle-int-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#583 Add entry for wowza for test environment
  environments/test/test-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, test-test/add-or-update

#584 Add prod dns zones
  components/prod/prod-ext.tf
  components/prod/prod-int.tf
  environments/prod/prod-ext-platform-hmcts-net.yml
  environments/prod/prod-int-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#587 DTSPO-13970 Add sds-build for webhook poc
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: sbox-sandbox/add-or-update, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#588 Added lncs.hmcs zone and records.
  components/prod/lncs-hmcs.tf
  environments/prod/lncs-hmcs.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#589 Reverted lncs.hmc zone addition.
  components/prod/lncs-hmcs.tf
  environments/prod/lncs-hmcs.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#590 Added lncs.hmcs Private DNS zone.
  components/prod/lncs-hmcs.tf
  environments/prod/lncs-hmcs.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#591 Update jbox IP addresses
  environments/prod/platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#592 DTSPO-13982 - Update response
  environments/prod/platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#594 New dns entry for cft jenkins for testing
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: sbox-sandbox/add-or-update, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#595 Add darts-portal cname to prod front door
  environments/prod/platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update

#597 Adding darts-portal to staging
  environments/staging/staging-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#598 Adding darts-portal to demo and sandbox
  environments/demo/demo-platform-hmcts-net.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: sbox-sandbox/add-or-update, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, demo-demo/add-or-update

#600 Correct jbox-prod.platform.hmcts.net A Record
  environments/prod/platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#599 updating sandbox private dns with toffee2
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: sbox-sandbox/add-or-update, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#602 DTSPO-13990 Updating dns for migrated test frontdoor
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: sbox-sandbox/add-or-update, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update
