Repository hmcts/azure-private-dns, pull requests merged in 2023-09, with the labels that each got.

#639 Sidm 8873
  environments/privatelink/postgres.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, privatelink/add-or-update, staging/no-changes

#640 Update Jira DNS on VPN
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#641 Add pre-portal to sbox, demo, stg
  environments/demo/demo-platform-hmcts-net.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, sandbox/add-or-update, demo/add-or-update

#642 Revert "Add pre-portal to sbox, demo, stg"
  environments/demo/demo-platform-hmcts-net.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, ithc/no-changes, prod/no-changes, staging/destroy, sandbox/destroy, demo/destroy

#643 PUB-2124 - Added pip frontend to sandbox
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, sandbox/add-or-update, staging/no-changes

#646 tt-et
  environments/demo/demo-platform-hmcts-net.yml
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, demo/add-or-update

#647 Add hwf
  environments/demo/demo-platform-hmcts-net.yml
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, demo/add-or-update

#649 Adding dns entry for clamav-mirror
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, sandbox/add-or-update, staging/no-changes

#650 enable noc api tests civil-service
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#652 adding another subdomain to test
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, sandbox/add-or-update, staging/no-changes

#653 added cui-ra dns
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes
