Repository hmcts/azure-private-dns, pull requests merged in 2023-01, with the labels that each got.

#489 DTSPO-11790 - add expires After tag
  modules/azure-private-dns/dns_zone.tf
  modules/azure-private-dns/variables.tf
Labels: sbox-sandbox/add-or-update, demo-demo/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes

#490 Add smallsystems
  environments/staging/staging-internal-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes

#491 Add-privateendpoint-DNS
  environments/privatelink/database-private-link.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#493 Remove-smallsystemsDNS
  environments/privatelink/database-private-link.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, staging-staging/destroy, privatelink-privatelink/destroy

#496 Add bastion postgres flex private link
  environments/privatelink/postgres.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#495 Add-Smallsystems-CNAME
  environments/staging/staging-internal-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#497 DTSPO-12069 - PRL Citizen env is not accessible with VPN
  environments/staging/aat-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#501 Add more vnets to redis private link
  environments/privatelink/redis-private-link.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#502 VIH-9642 - Amend Private DNS
  environments/demo/demo-platform-hmcts-net.yml
  environments/dev/dev-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, dev-dev/add-or-update, demo-demo/add-or-update

#503 VIH-9642 - Add Demo Env VH
  environments/demo/demo-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, demo-demo/destroy
