Repository hmcts/azure-private-dns, pull requests merged in 2023-10, with the labels that each got.

#654 feat: added privatelink.mysql.database.azure.com
  components/privatelink/mysql-private-link.tf
  environments/privatelink/mysql-private-link.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, privatelink/add-or-update, staging/no-changes

#655 PUB-2085 - Updated private DNS for PIP
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/destroy

#656 DTSPO-14754 - Add sonarqube sbox webhook
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#657 DTSPO-14754 - Add records for sds sonarqube webhook
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#659 DTSPO-14754 - Add sonarqube record for cft ptl jenkins
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#661 feat: added privatelink.purview.azure.com private DNS zone
  components/privatelink/purview-private-link.tf
  environments/privatelink/purview-private-link.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#662 feat: added privatelink.azuresynapse.net
  components/privatelink/synapse-private-link.tf
  environments/privatelink/synapse-private-link.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#664 feat: added queue private link dns zone
  components/privatelink/queue-private-link.tf
  environments/privatelink/queue-private-link.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#666 DTSPO-13991 - Updated frontdoor endpoint post migration
  environments/demo/demo-platform-hmcts-net.yml
  environments/dev/dev-platform-hmcts-net.yml
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
  environments/sandbox/sbox-platform-hmcts-net.yml
  environments/staging/aat-platform-hmcts-net.yml
  environments/staging/staging-hearings-reform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
  environments/test/test-platform-hmcts-net.yml
Labels: staging/add-or-update, privatelink/add-or-update, sandbox/add-or-update, prod/add-or-update, demo/add-or-update, ithc/add-or-update, test/add-or-update, dev/add-or-update

#668 Add Gaps2 Staging A Record
  environments/staging/staging-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, staging/add-or-update, ithc/no-changes, privatelink/add-or-update, prod/add-or-update, demo/add-or-update, test/add-or-update

#669 DTSPO-15318: Add DNS for SDS sbox jenkins app proxy
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#671 DTSPO-15318: Add DNS for static sds sbox jenkins to traefik
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#673 Added IH internal.staging.hmcts.net records
  environments/staging/staging-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, staging/add-or-update, ithc/no-changes, privatelink/add-or-update, prod/add-or-update, demo/add-or-update, test/add-or-update

#670 Dtspo 15318 private dns sbox jenkins sds front door
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, demo/add-or-update, prod/destroy, test/add-or-update

#674 DTSPO-15318: Add private-dns for sds-jenkins to traefik
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#676 DTSPO-15318: Add sds jenkins static record to traefik
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#675 DTSPO-15318: Remove A record, add CNAME for sds jenkins to front door
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, demo/add-or-update, prod/destroy, test/add-or-update

#678 DTSPO-15318: Add private DNS for CFT PTL jenkins
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#681 ST - adding ST entry for sptribs-frontend
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, staging/add-or-update, ithc/no-changes, privatelink/add-or-update, prod/add-or-update, demo/add-or-update, test/add-or-update

#682 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#680 Add private DNS records to point to front door
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, demo/add-or-update, prod/destroy, test/add-or-update

#679 Add core-infra-vnet-mgmt link for Purview
  environments/privatelink/purview-private-link.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#683 DMP-690-Darts-Private-Endpoints
  environments/privatelink/blob-private-link.yml
  environments/privatelink/postgres-private-link.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#684 Add purview portal private links
  components/privatelink/purview-portal-private-link.tf
  environments/privatelink/purview-portal-private-link.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#685 Add netbox-sandbox.hmcts.net
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#687 Adding OCMC, so that it can be accessed in and out of VPN on demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update, demo/add-or-update, test/add-or-update

#686 added demo and ithc enviroments
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
Labels: staging/add-or-update, privatelink/add-or-update, sandbox/add-or-update, prod/add-or-update, demo/add-or-update, ithc/add-or-update, test/add-or-update, dev/add-or-update
