Repository hmcts/azure-private-dns, pull requests merged in 2023-07, with the labels that each got.

#601 Add azure websites private dns zone
  components/privatelink/azurewebsites-private-link.tf
  environments/privatelink/azurewebsites-private-link.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update

#604 Fix sds test link
  environments/privatelink/blob-private-link.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/destroy

#605 Add auto-registration VPN vnet link
  environments/prod/platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update

#606 DTSPO-13992 adding dns to test frontdoor
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: sbox-sandbox/add-or-update, demo-demo/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, staging-staging/no-changes, prod-prod/no-changes, test-test/no-changes, ithc-ithc/no-changes

#607 Point response to traefik
  environments/prod/platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update

#608 adding civil orch staging changes
  environments/staging/aat-platform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, privatelink-privatelink/no-changes, prod-prod/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes

#611 Remove dns entry for sbox ukw palo
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, sandbox/destroy

#610 Ga staging dns changes
  environments/staging/aat-platform-hmcts-net.yml
  environments/staging/service-core-compute-aat-internal.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/destroy

#612 added vnet links for hub prod and nonprod
  environments/privatelink/database-private-link.yml
Labels: dev/no-changes, test/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, privatelink/add-or-update

#613 DTSPO-13563 - add vnet link for cft-ptl-vnet
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#614 DTSPO-13563 - reference correct resource group name
  azure-pipelines.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, sandbox/add-or-update

#615 Remove duplicate DNS record
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes
