Repository hmcts/azure-private-dns, pull requests merged in 2023-02, with the labels that each got.

#505 Feature/dtspo 12579
  components/prod/hearings-reform.tf
  components/staging/staging-hearings-reform.tf
  environments/prod/hearings-reform-hmcts-net.yml
  environments/staging/staging-hearings-reform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, test-test/no-changes, staging-staging/add-or-update, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update, demo-demo/add-or-update

#507 Feature/dtspo 12579
  environments/prod/hearings-reform-hmcts-net.yml
  environments/staging/staging-hearings-reform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update, demo-demo/add-or-update

#506 Removing dns entry for Palo VM1 ukw sbox
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, prod-prod/add-or-update, privatelink-privatelink/add-or-update, sbox-sandbox/destroy

#508 Feature/dtspo 12579
  environments/prod/hearings-reform-hmcts-net.yml
Labels: sbox-sandbox/no-changes, demo-demo/no-changes, dev-dev/no-changes, staging-staging/no-changes, test-test/no-changes, ithc-ithc/no-changes, privatelink-privatelink/add-or-update, prod-prod/destroy
