Repository hmcts/azure-private-dns, pull requests merged in 2024-01, with the labels that each got.

#714 add new A record to internal hmcts.net
  environments/prod/prod-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, privatelink/add-or-update, sandbox/add-or-update, prod/add-or-update

#715 feat: update Warwickshire Justice Centre Printer DNS
  environments/prod/prod-int-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#716 Adding a cname into hmcts for app proxy use that redirects to the existing platform.hmcts.net panorama DNS
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#721 feat: updated printer DNS for Hereford Magistrates' Court
  environments/prod/prod-int-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#722 feat: updated printer DNS for Great Grimsby Court
  environments/prod/prod-int-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#726 Add DNS A record for crimeportal
  environments/staging/staging-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, privatelink/add-or-update

#728 fix: updated DNS to point to libra in IH rather than VF
  environments/prod/lncs-hmcs.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, privatelink/add-or-update, staging/no-changes

#727 set up dns for crimeportal
  environments/prod/prod-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#729 feat: update printer DNS for Boston
  environments/prod/prod-int-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#730 Adding production Panorama CNAME
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#731 DTSPO-16138 - Add records for dynatrace activegate instances
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#732 feat: update printer DNS for Stoke on Trent Combined Court
  environments/prod/prod-int-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#734 DTSPO-16138 - Update dyn-ad-prod record
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#735 Remove f5 VPN from purviewstudio privatelink DNS
  environments/privatelink/purview-portal-private-link.yml
Labels: sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes, dev/add-or-update, privatelink/destroy

#736 Remove-vpn-from-privatelink_purview_azure_com
  environments/privatelink/purview-private-link.yml
Labels: sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, privatelink/add-or-update, staging/no-changes, dev/add-or-update
