Repository hmcts/azure-private-dns, pull requests merged in 2024-06, with the labels that each got.

#804 DTSPO-17037 - removing netbox dns records
  environments/prod/hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, sandbox/destroy, staging/no-changes, prod/destroy

#805 Add-PowerBI-Gateway-vNET
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#807 Update test-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
  environments/test/test-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, staging/add-or-update, prod/no-changes, demo/add-or-update, ithc/add-or-update, test/add-or-update
