Repository hmcts/azure-private-dns, pull requests merged in 2024-09, with the labels that each got.

#829 cft-mtls-api-mgmt-appgw.aat.platform.hmcts.net record for private dns
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#830 use apim appgw ip aat
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#831 DTSPO-18418 - adding ss-prod-vnet link to resolve idam-apo host name …
  environments/prod/service-core-compute-prod-internal.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#832 Add ET FE to private DNS
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, prod/no-changes, staging/no-changes, ithc/add-or-update, test/add-or-update

#833 DTSPO-18915
  environments/staging/service-core-compute-aat-internal.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#834 aat swap
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#835 Added Cname record
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
Labels: dev/no-changes, privatelink/no-changes, demo/no-changes, prod/no-changes, sandbox/add-or-update, staging/no-changes, ithc/add-or-update, test/add-or-update

#837 SSCSCI-1039
  environments/demo/demo-platform-hmcts-net.yml
  environments/staging/aat-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
Labels: dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, demo - TerraformPlanApply/add-or-update, staging - TerraformPlanApply/add-or-update, test - TerraformPlanApply/add-or-update

#838 Update platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, prod - TerraformPlanApply/add-or-update
