Repository hmcts/azure-private-dns, pull requests merged in 2024-02, with the labels that each got.

#738 fix: added cognitive services private link dns zone
  components/privatelink/cognitive-services-private-link.tf
  environments/privatelink/cognitive-services-private-link.yml
Labels: sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, privatelink/add-or-update, staging/no-changes, dev/add-or-update

#740 DTSPO-15956 - Added ipam to hmcts.net
  environments/prod/hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update, dev/add-or-update

#741 add private dn for poc application
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, sandbox/add-or-update, staging/no-changes, dev/add-or-update

#742 Revert "add private dn for poc application"
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes, dev/add-or-update

#743 DTSPO-16046 add private dns for ngfw poc
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, sandbox/add-or-update, staging/no-changes, dev/add-or-update

#744 DTSPO-16046 add private dns for ngfw poc nodejs
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, sandbox/add-or-update, staging/no-changes, dev/add-or-update

#745 DTSPO-16046
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, sandbox/destroy, staging/no-changes, dev/add-or-update

#747 feat: added sdrs internal dns
  environments/prod/prod-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/add-or-update, dev/add-or-update

#748 adding cui staging pods dns entries
  environments/staging/aat-platform-hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, dev/add-or-update

#749 Remove cname blocking pipeline
  environments/prod/platform-hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/destroy, dev/add-or-update

#752 Update staging-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/destroy, dev/add-or-update
