Repository hmcts/azure-private-dns, pull requests merged in 2024-03, with the labels that each got.

#753 DTSPO-16903 - remove unused labs
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, sandbox/destroy, staging/no-changes, dev/add-or-update

#754 feat: added privatelink.table.core.windows.net private DNS zone
  components/privatelink/table-private-link.tf
  environments/privatelink/table-private-link.yml
Labels: sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, privatelink/add-or-update, staging/no-changes, dev/add-or-update

#755 DTSPO-16993 - Creation of internal DNS records for GLiMR
  environments/dev/dev-internal-hmcts-net.yml
  environments/prod/prod-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/add-or-update, dev/add-or-update

#756 Add idam-web-public for FD staging
  environments/staging/staging-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#757 Update staging-platform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#758 DLRM - Xhibit Display Update staging-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#760 DTSPO-14559 - Link dynatrace vnet
  environments/prod/service-core-compute-prod-internal.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#762 Update staging-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes

#763 DTSPO-16138 - Add DNS config for dynatrace
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#765 PUB-2298 - Updated ITHC
  environments/ithc/ithc-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, prod/no-changes, staging/no-changes, ithc/add-or-update

#764 SIDM-9140 Enable staging via FrontDoor
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/destroy
