Repository hmcts/azure-private-dns, pull requests merged in 2024-08, with the labels that each got.

#822 DTSPO-18493 - Goldenpath nodejs refresh
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, sandbox/add-or-update, staging/no-changes, prod/add-or-update

#823 DTSPO-18493 - Remove link to missing vnet
  environments/sandbox/sandbox-platform-hmcts-net.yml
  environments/sandbox/sbox-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes

#827 Add LNCS hostnames to prod dynatrace activegates
  environments/prod/lncs-hmcs.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update
