Repository hmcts/azure-private-dns, pull requests merged in 2024-07, with the labels that each got.

#809 Added Private Cname record
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes, demo/add-or-update

#810 DTSPO-17544 - Create record for incident slack endpoint
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#813 Add-Dynatrace-active-gateway-vNet-link
  environments/prod/prod-internal-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, sandbox/add-or-update, staging/no-changes, prod/add-or-update

#814 Remove-vNET-link-sbox-dns-private-resolver
  environments/sandbox/sandbox-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes

#812 Adding Neuvector api dns entry for PTL cluster
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, sandbox/add-or-update, staging/no-changes, prod/add-or-update

#817 Add ET FE to private DNS
  environments/demo/demo-platform-hmcts-net.yml
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, staging/add-or-update, ithc/no-changes, prod/add-or-update, demo/add-or-update

#816 Add PRE vnet links
  environments/privatelink/blob-private-link.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, demo/no-changes, ithc/no-changes, privatelink/add-or-update, staging/no-changes, prod/add-or-update

#820 fix: vnet link to dns resolver
  environments/demo/demo-platform-hmcts-net.yml
  environments/demo/service-core-compute-demo-internal.yml
  environments/demo/service-core-compute-idam-demo-internal.yml
  environments/dev/dev-platform-hmcts-net.yml
  environments/dev/dom1-infra-int.yml
  environments/dev/preview-platform-hmcts-net.yml
  environments/dev/service-core-compute-idam-preview-internal.yml
  environments/dev/service-core-compute-preview-internal.yml
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/ithc/service-core-compute-idam-ithc-internal.yml
  environments/ithc/service-core-compute-ithc-internal.yml
  environments/privatelink/azure-backup-private-link.yml
  environments/privatelink/azurewebsites-private-link.yml
  environments/privatelink/blob-private-link.yml
  environments/privatelink/cognitive-services-private-link.yml
  environments/privatelink/database-private-link.yml
  environments/privatelink/dfs-private-link.yml
  environments/privatelink/elastic-cloud-uksouth.yml
  environments/privatelink/mysql-private-link.yml
  environments/privatelink/postgres-private-link.yml
  environments/privatelink/postgres.yml
  environments/privatelink/redis-private-link.yml
  environments/privatelink/servicebus-private-link.yml
  environments/privatelink/synapse-dev-private-link.yml
  environments/privatelink/synapse-sql-private-link.yml
  environments/privatelink/table-private-link.yml
  environments/privatelink/vault-private-link.yml
  environments/prod/apps-hmcts-net.yml
  environments/prod/hearings-reform-hmcts-net.yml
  environments/prod/hmcts-net.yml
  environments/prod/mailrelay-internal-platform-hmcts-net.yml
  environments/prod/mailrelay-platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/prod-platform-hmcts-net.yml
  environments/prod/reform-hmcts-net.yml
  environments/prod/service-core-compute-idam-prod-internal.yml
  environments/prod/service-core-compute-idam-prod2-internal.yml
  environments/prod/service-core-compute-prod-internal.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
  environments/sandbox/sbox-platform-hmcts-net.yml
  environments/sandbox/service-core-compute-idam-saat-internal.yml
  environments/sandbox/service-core-compute-idam-sandbox-internal.yml
  environments/sandbox/service-core-compute-sandbox-internal.yml
  environments/staging/aat-platform-hmcts-net.yml
  environments/staging/service-core-compute-aat-internal.yml
  environments/staging/service-core-compute-idam-aat-internal.yml
  environments/staging/service-core-compute-idam-aat2-internal.yml
  environments/staging/staging-hearings-reform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
  environments/test/service-core-compute-idam-perftest-internal.yml
  environments/test/service-core-compute-perftest-internal.yml
  environments/test/test-platform-hmcts-net.yml
Labels: staging/add-or-update, privatelink/add-or-update, sandbox/add-or-update, prod/add-or-update, demo/add-or-update, ithc/add-or-update, test/add-or-update, dev/add-or-update
