Repository hmcts/azure-private-dns, pull requests merged in 2024-05, with the labels that each got.

#776 Update staging-platform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, test/add-or-update

#777 Adding records for sip.test.hearings
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update, test/add-or-update

#778 Adding DNS record for test.hearings.hmcts.net
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#779 feat: added apps.hmcts.net zone
  components/prod/apps-hmcts-net.tf
  environments/prod/apps-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#782 Adding records for sip.test.self-test.hearings.hmcts.net and correcte…
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#783 Update prod-internal-hmcts-net.yml
  environments/prod/prod-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/destroy

#785 DTSPO-17035 - added VNET link for cft ptl vnet
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#784 Update hmcts-net.yml : add sip.preprod.self-test & sip.self-test.hearings.hmcts.net
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#786 Corrected sip.preprod.self-test name to add hearings at the end
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/destroy

#788 Update prod-internal-hmcts-net.yml
  environments/prod/prod-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#787 added px03.preprod.hearings.hmcts.net
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#780 Remove idam-web-admin
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
Labels: dev/no-changes, privatelink/no-changes, sandbox/destroy, staging/no-changes, prod/destroy, demo/destroy, ithc/destroy, test/destroy

#790 Update demo-platform-hmcts-net.yml to new apim private IP
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes, demo/add-or-update

#791 update apim migrate private ip
  environments/demo/demo-platform-hmcts-net.yml
  environments/dev/dev-platform-hmcts-net.yml
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: test/no-changes, privatelink/no-changes, prod/no-changes, sandbox/add-or-update, staging/no-changes, demo/add-or-update, ithc/add-or-update, dev/add-or-update

#793 feat: added DNS for DSVM
  environments/prod/platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update

#794 DTSPO-17762-apim-cft-test-ip-update
  environments/test/perftest-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes, test/add-or-update

#795 DTSPO-17762-sds-apim-test-update-ip
  environments/test/test-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, staging/no-changes, test/add-or-update

#796 Add missing links to dynatrace nonprod
  environments/demo/service-core-compute-demo-internal.yml
  environments/dev/service-core-compute-preview-internal.yml
  environments/ithc/service-core-compute-ithc-internal.yml
  environments/sandbox/service-core-compute-sandbox-internal.yml
  environments/staging/service-core-compute-aat-internal.yml
  environments/test/service-core-compute-perftest-internal.yml
Labels: privatelink/no-changes, staging/add-or-update, prod/no-changes, sandbox/add-or-update, demo/add-or-update, ithc/add-or-update, test/add-or-update, dev/add-or-update

#797 Add missing links to dynatrace
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/test/perftest-platform-hmcts-net.yml
Labels: dev/no-changes, privatelink/no-changes, prod/no-changes, sandbox/add-or-update, staging/no-changes, demo/add-or-update, ithc/add-or-update, test/add-or-update

#798 update cft apim stg ip
  environments/staging/aat-platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, sandbox/add-or-update

#799 Add missing links to dynatrace
  environments/sandbox/sbox-platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, prod/no-changes, sandbox/add-or-update, staging/no-changes

#801 update stg apim ip
  environments/staging/staging-platform-hmcts-net.yml
Labels: dev/no-changes, test/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, sandbox/add-or-update
