Repository hmcts/azure-private-dns, pull requests merged in 2024-10, with the labels that each got.

#839 Link PRE demo vnet to privatelink blob dns
  environments/privatelink/blob-private-link.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/add-or-update

#841 DTSPO-19124: Allow dmz vnets to read platform.hmcts.net
  components/sandbox/provider.tf
  environments/prod/platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, prod - TerraformPlanApply/add-or-update

#842 Updated dynatrace DNS record
  environments/prod/platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes

#843 Dtspo 18818 sbox zone
  components/sandbox/sandbox-apps-hmcts-net.tf
  environments/prod/apps-hmcts-net.yml
  environments/sandbox/sandbox-apps-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/add-or-update, prod - TerraformPlanApply/destroy

#844 Update vnet links on sbox.apps.hmcts.net
  environments/sandbox/sandbox-apps-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/add-or-update

#846 Dtspo 18785 ithc zone
  components/ithc/ithc-apps-hmcts-net.tf
  environments/ithc/ithc-apps-hmcts-net.yml
  environments/prod/apps-hmcts-net.yml
Labels: ithc - TerraformPlanApply/add-or-update, demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, prod - TerraformPlanApply/destroy

#848 DTSPO-18785 remove duplicate records
  environments/prod/apps-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, prod - TerraformPlanApply/destroy

#849 DTSPO-19553 add ss-ptl vnet link
  environments/demo/demo-apps-hmcts-net.yml
  environments/dev/dev-apps-hmcts-net.yml
  environments/ithc/ithc-apps-hmcts-net.yml
  environments/staging/staging-apps-hmcts-net.yml
  environments/test/test-apps-hmcts-net.yml
Labels: ithc - TerraformPlanApply/add-or-update, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, demo - TerraformPlanApply/add-or-update, staging - TerraformPlanApply/add-or-update, test - TerraformPlanApply/add-or-update, dev - TerraformPlanApply/add-or-update

#850 DTSPO-19561 use prod dns resolver
  environments/demo/demo-apps-hmcts-net.yml
  environments/dev/dev-apps-hmcts-net.yml
  environments/ithc/ithc-apps-hmcts-net.yml
  environments/staging/staging-apps-hmcts-net.yml
  environments/test/test-apps-hmcts-net.yml
Labels: sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, dev - TerraformPlanApply/destroy, demo - TerraformPlanApply/destroy, test - TerraformPlanApply/destroy, ithc - TerraformPlanApply/destroy, staging - TerraformPlanApply/destroy
