Repository hmcts/azure-private-dns, pull requests merged in 2024-04, with the labels that each got.

#766 Add redirection to Frontdoor for pip-frontend on test and ITHC env
  environments/ithc/ithc-platform-hmcts-net.yml
  environments/test/test-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, prod/no-changes, staging/no-changes, ithc/add-or-update, test/add-or-update

#769 feat: migrate printer DNS
  environments/prod/prod-int-platform-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update, test/add-or-update

#772 Update staging-internal-hmcts-net.yml
  environments/staging/staging-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, staging/add-or-update, ithc/no-changes, prod/no-changes, test/add-or-update

#773 Update prod-internal-hmcts-net.yml
  environments/prod/prod-internal-hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update, test/add-or-update

#774 DTSPO-17035 - adding same vnet links as platform.hmcts.net
  environments/prod/hmcts-net.yml
Labels: dev/no-changes, sandbox/no-changes, privatelink/no-changes, demo/no-changes, ithc/no-changes, staging/no-changes, prod/add-or-update, test/add-or-update
