Repository hmcts/azure-private-dns, pull requests merged in 2025-01, with the labels that each got.

#859 Create Private DNS for the Dawid Golden Path NodeJS app
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/add-or-update, sandbox - TerraformPlanApply/add-or-update

#861 Update sandbox-platform-hmcts-net.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/add-or-update, sandbox - TerraformPlanApply/add-or-update

#863 Add private DNS entry for Lukasz's Golden Path NodeJS application
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/add-or-update, sandbox - TerraformPlanApply/add-or-update

#864 feat: added link to AADDS Vnet for privatelink vault dns zone
  environments/privatelink/vault-private-link.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/add-or-update

#865 Remove Private DNS created for the Golden Path nodeJS lab
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/add-or-update, sandbox - TerraformPlanApply/destroy
