Repository hmcts/azure-private-dns, pull requests merged in 2025-04, with the labels that each got.

#898 fix em-icp routing in private dns to AFD
  environments/prod/platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, staging - TerraformPlanApply/add-or-update, prod - TerraformPlanApply/add-or-update

#899 add em-icp-webpubsub application gateway
  environments/prod/platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, prod - TerraformPlanApply/add-or-update

#900 Revert "add em-icp-webpubsub application gateway"
  environments/prod/platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, prod - TerraformPlanApply/destroy

#901 Update sandbox-platform-hmcts-net.yml
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: ithc - TerraformPlanApply/add-or-update, dev - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, demo - TerraformPlanApply/add-or-update, staging - TerraformPlanApply/add-or-update, test - TerraformPlanApply/add-or-update, prod - TerraformPlanApply/add-or-update, sandbox - TerraformPlanApply/add-or-update

#903 Dtspo 25273 add storage account dns record
  environments/privatelink/blob-private-link.yml
Labels: ithc - TerraformPlanApply/add-or-update, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, demo - TerraformPlanApply/add-or-update, staging - TerraformPlanApply/add-or-update, test - TerraformPlanApply/add-or-update, prod - TerraformPlanApply/add-or-update, privatelink - TerraformPlanApply/add-or-update

#904 remove dan golden lab dns
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/add-or-update, sandbox - TerraformPlanApply/destroy

#905 abhivan golden-path test
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/add-or-update, sandbox - TerraformPlanApply/add-or-update

#906 Revert "abhivan golden-path test"
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/add-or-update, sandbox - TerraformPlanApply/destroy
