Repository hmcts/azure-private-dns, pull requests merged in 2025-03, with the labels that each got.

#890 reverting my golden path entry
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, staging - TerraformPlanApply/add-or-update, prod - TerraformPlanApply/add-or-update, sandbox - TerraformPlanApply/destroy

#893 updating private DNS to correct Atlassian IP
  environments/prod/hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, prod - TerraformPlanApply/add-or-update

#895 DTSPO-24907 - Remove vpn from private link
  environments/privatelink/azure-notebooks-private-link.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/add-or-update

#896 DTSPO-24907 - Remove vpn from private link
  environments/privatelink/machine-learning-private-link.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes
