Repository hmcts/azure-private-dns, pull requests merged in 2025-05, with the labels that each got.

#907 DTSPO-25519 Add vnet link for privatelink.dfs to cftptl
  environments/privatelink/dfs-private-link.yml
Labels: ithc - TerraformPlanApply/add-or-update, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, demo - TerraformPlanApply/add-or-update, staging - TerraformPlanApply/add-or-update, test - TerraformPlanApply/add-or-update, prod - TerraformPlanApply/add-or-update, privatelink - TerraformPlanApply/add-or-update

#910 add cf demo vnet to staginging internal
  environments/staging/staging-internal-hmcts-net.yml
Labels: 775: dev - TerraformPlanApply/no-changes, 775: staging - TerraformPlanApply/add-or-update, 775: demo - TerraformPlanApply/add-or-update, 775: sandbox - TerraformPlanApply/no-changes, 775: ithc - TerraformPlanApply/add-or-update, 775: test - TerraformPlanApply/no-changes, 775: prod - TerraformPlanApply/no-changes

#911 Revert "add cf demo vnet to staginging internal"
  environments/staging/staging-internal-hmcts-net.yml
Labels: 775: dev - TerraformPlanApply/no-changes, 775: demo - TerraformPlanApply/add-or-update, 775: sandbox - TerraformPlanApply/no-changes, 775: ithc - TerraformPlanApply/add-or-update, 775: test - TerraformPlanApply/no-changes, 775: prod - TerraformPlanApply/no-changes, 775: staging - TerraformPlanApply/destroy

#914 DTSPO-35686: Updating Jenkins cluster to aat-00
  environments/staging/service-core-compute-aat-internal.yml
Labels: 775: dev - TerraformPlanApply/no-changes, 775: staging - TerraformPlanApply/add-or-update, 775: demo - TerraformPlanApply/add-or-update, 775: test - TerraformPlanApply/add-or-update, 775: sandbox - TerraformPlanApply/no-changes, 775: prod - TerraformPlanApply/add-or-update, 775: ithc - TerraformPlanApply/add-or-update

#916 Updating jenkins-cluster cname to use traefik A record for cluster-00
  environments/staging/aat-platform-hmcts-net.yml
Labels: 775: dev - TerraformPlanApply/no-changes, 775: staging - TerraformPlanApply/add-or-update, 775: demo - TerraformPlanApply/add-or-update, 775: test - TerraformPlanApply/add-or-update, 775: sandbox - TerraformPlanApply/no-changes, 775: prod - TerraformPlanApply/add-or-update, 775: ithc - TerraformPlanApply/add-or-update
