Repository hmcts/azure-private-dns, pull requests merged in 2025-06, with the labels that each got.

#919 VIH-11448 rm stg VH aspects
  environments/sandbox/sandbox-platform-hmcts-net.yml
  environments/sandbox/sbox-platform-hmcts-net.yml
  environments/staging/staging-hearings-reform-hmcts-net.yml
  environments/staging/staging-platform-hmcts-net.yml
Labels: 775: dev - TerraformPlanApply/no-changes, 775: demo - TerraformPlanApply/add-or-update, 775: test - TerraformPlanApply/no-changes, 775: prod - TerraformPlanApply/no-changes, 775: staging - TerraformPlanApply/destroy, 775: ithc - TerraformPlanApply/no-changes, 775: sandbox - TerraformPlanApply/destroy

#921 Update service-core-compute-demo-internal.yml
  environments/demo/service-core-compute-demo-internal.yml
Labels: 775: dev - TerraformPlanApply/no-changes, 775: staging - TerraformPlanApply/add-or-update, 775: demo - TerraformPlanApply/add-or-update, 775: test - TerraformPlanApply/add-or-update, 775: prod - TerraformPlanApply/add-or-update, 775: ithc - TerraformPlanApply/add-or-update, 775: sandbox - TerraformPlanApply/add-or-update

#922 add cname records for cft neuvectors in AAT
  environments/prod/hmcts-net.yml
Labels: 775: dev - TerraformPlanApply/no-changes, 775: demo - TerraformPlanApply/add-or-update, 775: sandbox - TerraformPlanApply/no-changes, 775: prod - TerraformPlanApply/add-or-update, 775: test - TerraformPlanApply/no-changes, 775: staging - TerraformPlanApply/no-changes, 775: ithc - TerraformPlanApply/no-changes
