Repository hmcts/azure-private-dns, pull requests merged in 2025-02, with the labels that each got.

#866 Dtspo 23232 manual add dns records
  environments/perftest/service-core-compute-perftest-internal.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/add-or-update

#868 Added CNAME record for Xhibit certificate
  environments/staging/staging-internal-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, staging - TerraformPlanApply/add-or-update, privatelink - TerraformPlanApply/add-or-update

#871 Add Private link for PRE blobs in dev
  environments/privatelink/blob-private-link.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/add-or-update

#872 Import existing vnet link to Terraform state to fix privatelink stage
  components/privatelink/main.tf
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/destroy

#873 Correct DNS records add to correct .yml files
  environments/ithc/service-core-compute-ithc-internal.yml
Labels: ithc - TerraformPlanApply/add-or-update, demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes

#876 Added correct DNS records and vnet links to aat, demo, perftest envs
  environments/demo/service-core-compute-demo-internal.yml
  environments/staging/service-core-compute-aat-internal.yml
  environments/test/service-core-compute-perftest-internal.yml
Labels: dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, demo - TerraformPlanApply/add-or-update, staging - TerraformPlanApply/add-or-update, test - TerraformPlanApply/add-or-update

#878 DTSPO-23915 adding private dns for ithc pubsub
  environments/ithc/ithc-platform-hmcts-net.yml
Labels: ithc - TerraformPlanApply/add-or-update, demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes

#875 Remove vnet link resource import for darts-prod-vnet
  components/privatelink/main.tf
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes

#882 Correct DNS record for ccd-data-0 node added to prod
  environments/prod/service-core-compute-prod-internal.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, prod - TerraformPlanApply/add-or-update

#883 Added DNS record for ccd-data-1
  environments/prod/service-core-compute-prod-internal.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, prod - TerraformPlanApply/add-or-update

#885 Added DNS record for ccd-data-3
  environments/prod/service-core-compute-prod-internal.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, prod - TerraformPlanApply/add-or-update

#881 Remove decommed servers from prod-internal-hmcts-net.yml
  environments/prod/prod-internal-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, prod - TerraformPlanApply/destroy

#880 Update staging-internal-hmcts-net.yml to remove decommed server
  environments/staging/staging-internal-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, staging - TerraformPlanApply/destroy

#887 goldenpath r yu
  environments/sandbox/sandbox-platform-hmcts-net.yml
Labels: demo - TerraformPlanApply/no-changes, test - TerraformPlanApply/no-changes, dev - TerraformPlanApply/no-changes, prod - TerraformPlanApply/no-changes, staging - TerraformPlanApply/no-changes, privatelink - TerraformPlanApply/no-changes, ithc - TerraformPlanApply/no-changes, sandbox - TerraformPlanApply/add-or-update
